
/*

SMARTPHONES

*/

@media (max-width: 600px) {

  .top-line {display: none;}


  .logo {
    position: absolute;
    z-index: 1;
    top: 10%;
    width: 100%;

    text-align: center;
    color: black;
    font-size: 5vh;
    font-family: 'Bitter', serif;
  }

  .slogan {display: none;}

  .name-field-wrapper {
    position: absolute;
    z-index: 1;
    top: 40%;
    width: 100%;

    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
    font-size: 3vh;
  }

  input {
    width: 35vh;
    height: 8vh;
    border:none;
    border-width: 1px;
    border-style: solid;
    border-color: #58D3F7;
    color: black;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
  }



  input[type=submit] {
    width: 35vh;
    height: 8vh;
    border:none;
    border-width: 1px;
    border-style: solid;
    border-color: #58D3F7;
    background-color: #58D3F7;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Raleway', sans-serif;
  }

  .menu-wrapper {display: none;}
}




/*

TABLET COMPUTERS

*/



@media (min-width: 600px) and (max-width: 1024px) {

  .top-line {display: none;}

  .logo {
    position: absolute;
    z-index: 1;
    top: 10%;
    width: 100%;

    text-align: center;
    color: black;
    font-size: 5vh;
    font-family: 'Bitter', serif;
  }

  .slogan {display: none;}

  .name-field-wrapper {
    position: absolute;
    z-index: 1;
    top: 40%;
    width: 100%;

    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
    font-size: 3vh;
  }

  /*remove new line after 'name: '*/
  p { align: none; style: none; display: inline; }


  input[type=text] {
    outline: none;
    width: 35vh;
    height: 8vh;
    border:none;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #58D3F7;
    color: black;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
  }

  input[type=password] {
    outline: none;
    width: 35vh;
    height: 8vh;
    border:none;
    border-width: 1px;
    border-style: solid;
    border-color: #58D3F7;
    color: black;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
  }


  input[type=submit] {
    width: 35vh;
    height: 8vh;
    border:none;
    border-width: 1px;
    border-style: solid;
    border-color: #58D3F7;
    background-color: #58D3F7;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Raleway', sans-serif;
  }

  .menu-wrapper {display: none;}
}




/*

DESKTOPS

*/


@media (min-width: 1024px) {

a {
    color : inherit;
    quotes : '\201C' '\201D' '\2018' '\2019';
    text-decoration : none;
    margin-left: 8px;
    margin-right: 8px;
}

.top-line {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 2vh;
  width: 100%;
  background-color: #58D3F7;
}

.logo {
  position: absolute;
  z-index: 1;
  top: 10%;
  width: 100%;

  text-align: center;
  color: black;
  font-size: 6vh;
  font-family: 'Bitter', serif;
}

.name-field-wrapper {
  position: absolute;
  z-index: 1;
  top: 40%;
  width: 100%;

  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: black;
  font-size: 3vh;
}

/*remove new line after 'name: '*/
p { align: none; style: none; display: inline; }


input[type=text] {
  outline: none;
  width: 35vh;
  height: 8vh;
  border:none;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #58D3F7;
  color: black;
  text-align: center;
  font-size: 2.5vh;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

input[type=password] {
  outline: none;
  width: 35vh;
  height: 8vh;
  border:none;
  border-width: 1px;
  border-style: solid;
  border-color: #58D3F7;
  color: black;
  text-align: center;
  font-size: 2.5vh;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

input[type=submit] {
  width: 35vh;
  height: 8vh;
  border:none;
  border-width: 1px;
  border-style: solid;
  border-color: #58D3F7;
  background-color: #58D3F7;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2.5vh;
  font-family: 'Raleway', sans-serif;
}

.menu-wrapper {
  position: absolute;
  z-index: 2;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  height: 15vh;
  width: 100%;

  background-color: #58D3F7;
  color: white;
  font-size: 2.5vh;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
}
