/*
SMARTPHONES
*/

@media (max-width: 900px) {

  .desktop {display: none;}

  .logo {
    position: absolute;
    z-index: 1;
    top: 10%;
    width: 100%;

    text-align: center;
    color: black;
    font-size: 5vh;
    font-family: 'Bitter', serif;
  }


  .name-field-wrapper {
    position: absolute;
    z-index: 1;
    top: 40%;
    width: 100%;

    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
    font-size: 3vh;
  }

  input {
    width: 35vh;
    height: 8vh;
    border:none;
    border-width: 1px;
    border-style: solid;
    border-color: #161827;
    color: black;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
  }



  input[type=submit] {
    width: 35vh;
    height: 8vh;
    border:none;
    border-width: 1px;
    border-style: solid;
    border-color: #161827;
    background-color: #161827;
    color: white;
    margin-top: 10px;
    padding: 0;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Raleway', sans-serif;
  }

  .menu-wrapper {display: none;}
}




/*
DESKTOP
*/

@media (min-width: 901px) {
  .desktop {
      text-align: center;
      font-size: 25px;
  }

  .top-line {display: none;}
  .logo {display: none;}
  .slogan {display: none;}
  .name-field-wrapper {display: none;}
  p {display: none;}
  .menu-wrapper {display: none;}
}
